.habit-card {
    position: relative;
    padding: 10px;
    border: 2px solid black;
    border-radius: 2%;
    height: 400px;
    width: 300px;
    margin: 50px;
}

.complete-button {
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.info {
}

.form {
}